<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AplicacionDeGestion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AplicacionDeGestion.Properties.Settings>
            <setting name="precioParking" serializeAs="String">
                <value>0.06</value>
            </setting>
            <setting name="licenciaSyncfusion" serializeAs="String">
                <value>NTY2OTI3QDMxMzkyZTM0MmUzMG85Q0toWFI2U2dGcVIwdjlXRHBDVGlHanpxZFlWVEJLcnZWUWtuSE5EekU9</value>
            </setting>
            <setting name="cadenaConexionBlobStorage" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=juegopeliculasjuandi;AccountKey=55hpkgqMOrvwuZDsxLmMr/l78pZCJJxaBLDQtIBWFzFKsSuHjS7i/TNpWyXVnJu7wiozsjwVpeOQtfty3asRzQ==;EndpointSuffix=core.windows.net</value>
            </setting>
            <setting name="nombreContenedorBlob" serializeAs="String">
                <value>imagenes-peliculas</value>
            </setting>
            <setting name="numeroPlazasCoche" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numeroPlazasMoto" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="rutaConexionBd" serializeAs="String">
                <value>C:\parking</value>
            </setting>
        </AplicacionDeGestion.Properties.Settings>
    </userSettings>
</configuration>